<a href="https://colab.research.google.com/github/tejalraut299/ATM-machine/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Indentation & Syntax**

In [1]:
n=int(input("Enter a number: ")) #in python is no necessary to wite data type,is know by input automatically
if n>0 :
  print("positive number")
elif n<0 :
  print("negative number")
else :
  print("zero")

Entera number: 23
positive number

In [3]:
  print("Hello,world?")

Hello,world?

In [74]:
a=(input("Enter a number: ")) #in python is no necessary to wite data type,is know by input automatically
b=(input("Enter a number: "))
if a>b:
  print("a is greater than b")
elif a<b:
  print("a is less than b")
else:
  print("a is equal to b")

Entera number: 45.777
Entera number: 33.333
a is greater than b

In [8]:
n=int(input("Enter a number: "))
if (n%2)==0:
  print("even number")
else:
  print("odd number");

Enter a number: 88
even number

In [13]:
# Numbers 1 to 5
for i in range(1,6):
   print(i);

1
2
3
4
5

# **Comments**

In [16]:
#Single-line Comment
print("Mother is 1st Teacher");

Mother is 1st Teacher

In [20]:
#Multi-line Comment -single cote,double cote
"""thanks for such a nice program
for Daughter future and we will always
 greatful for AI and Prompt
  Engineer fulltime course"""
print("Thanks")

Thanks

In [22]:
"""sum of two numbers
 without positive operator"""
 #add
print(10-(-15));

25

# #**Arithmatic** **Operators**

In [24]:
# sum
a=78
b=2
c=a+b;
print(c);

80

In [25]:
# subtract
a=78
b=2
c=a-b;
print(c);

76

In [27]:
# multiply
a=78
b=2
c=a*b;
print(c);

156

In [32]:
# Division
a=78
b=8
c=a/b;
print(c);

9.75

In [30]:
#reminder-modulas
a=78
b=8
c=a%b;
print(c);

6

In [31]:
# Floor Division
a=78
b=8
c=a//b;
print(c);

9

In [33]:
# Exponentiation-power
a=2
b=4
c=a**b;
print(c);

16

# **Comparison Operator**

In [35]:
# Equal to
a=5
b=5
print("equal",a==b);

equal True

In [36]:
# Greater than
a=9
b=5
print("a>b",a>b);

a>b True

In [37]:
# less than
a=9
b=5
print("equal",a<b);

equal False

In [38]:
# Les than or Equal to
a=5
b=5
print("equal",a<=b);

equal True

In [39]:
# Greater than or Equal to
a=5
b=5
print("equal",a>=b);

equal True

In [40]:
# Not Equal
a=9
b=14
print("not equal",a!=b);

not equal True

## **Logical Operator**

In [42]:
a=True
b=False
print("a and b: ",a and b)

a and b:  False

In [43]:
a=True
b=False
print("a and b: ",a or b)

a and b:  True

In [44]:
a=True
b=False
print("a and b: ",a !=b)

a and b:  True

# **Assignment Operator**

In [45]:
#23.Assign a value to a variable(a = 10)
a = 10
print("a =", a)

a = 10

In [46]:
#24.Increment a variable (a += 5)
a = 10
a += 5
print("After increment:", a)

After increment: 15

In [47]:
#24.Decrement a variable (a -= 5)
a = 10
a -= 5
print("After decrement:", a)

After decrement: 5

In [48]:
#26. Multiply and assign (a *= 4)
a = 5
a *= 4
print("After multiplication:", a)

After multiplication: 20

In [49]:
#26. Divide and assign (a *= 4)
a = 50
a /= 4
print("After Divide:", a)

After Divide: 12.5

# **Memborship** **Opertors**

In [50]:
# 28. Check if character is in a string
result = 'a' in "apple"
print("'a' in 'apple'? ->", result)

'a' in 'apple'? -> True

In [51]:
# 29. Check if number is NOT in a list
result = 5 not in [1, 2, 3]
print("5 not in [1, 2, 3]? ->", result)

5 not in [1, 2, 3]? -> True

# **Identity Operator**

In [52]:
# 30. Check if two variables reference the same list (x is y)
x = [1, 2, 3]
y = x
print("x is y? ->", x is y)

x is y? -> True

# **String Operators & Examples**

In [53]:
# 31. Check if two variables do NOT reference the same object (x is not y)
x = [1, 2, 3]
y = [1, 2, 3]
print("x is not y? ->", x is not y)

x is not y? -> True

In [ ]:
#32. Concatenate two strings
str1 = "Hello"
str2 = "World"
result = str1 + " " + str2
print("Concatenated string:", result)

In [54]:
#33. Repeat a string multiple times
a = "Hi "
result = a * 3
print(result)

Hi Hi Hi

In [55]:
# 34. Find length of a string
text = "Python"
print("Length of string:", len(text))

Length of string: 6

# **Input/Output**

In [57]:
#35. Take user input and print it
name = input("Enter your name: ")
print("You entered:", name)

Enter your name: tejal
You entered: tejal

In [56]:
# 36. Take two numbers as input and print sum
n1 = int(input("Enter first number: "))
n2 = int(input("Enter second number: "))
print("Sum =", n1 + n2)

Enter first number: 10
Enter second number: 12
Sum = 22

# **Conditional Statements**

In [58]:
#37. Print grades based on marks (if-elif-else)

marks = int(input("Enter marks: "))

if marks >= 90:
    grade = "A"
elif marks >= 75:
    grade = "B"
elif marks >= 50:
    grade = "C"
else:
    grade = "Fail"

print("Grade:", grade)

Enter marks: 78
Grade: B

In [59]:
#38. Check if number is divisible by 3 and 5

n = int(input("Enter a number: "))

if n % 3 == 0 and n% 5 == 0:
    print(n, "is divisible by both 3 and 5")
else:
    print(n, "is NOT divisible by both 3 and 5")

Enter a number: 45
45 is divisible by both 3 and 5

# **Loops**

In [60]:
#39. Print numbers from 1 to 10 using for loop

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [63]:
#40. Print even numbers between 1 and 20 using while loop

n = 2
while n <= 20:
    print(n)
    n += 2

2
4
6
8
10
12
14
16
18
20

# **Lists and Operator**

In [64]:
#41. Add an element to a list using append()

my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [65]:
# 42. Remove an element from a list using remove()

my_list = [1, 2, 3, 4]
my_list.remove(3)
print(my_list)

[1, 2, 4]

In [66]:
#43. Check if an element exists in a list using in

my_list = [10, 20, 30]
if 20 in my_list:
    print("20 is in the list")
else:
    print("20 is not in the list")

20 is in the list

# **Dictionaries**

In [69]:
#44. Create a dictionary with key-value pairs

my_dict = {"name": "Alice", "age": 25, "city": "New York"}
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [68]:
# 45. Update a value in a dictionary

my_dict = {"name": "Alice", "age": 25, "city": "New York"}
my_dict["age"] = 26
print(my_dict)

{'name': 'Alice', 'age': 26, 'city': 'New York'}

In [67]:
# 46. Print all keys and values in a dictionary

my_dict = {"name": "Alice", "age": 25, "city": "New York"}
for key, value in my_dict.items():
    print(key, ":", value)

name : Alice
age : 25
city : New York

# **Functions**

In [70]:
# 47. Create and call a simple function that prints a message

def greet():
    print("Hello, welcome to Python!")

greet()

Hello, welcome to Python!

In [71]:
# 48. Create a function that returns the sum of two numbers

def add_numbers(a, b):
    return a + b

result = add_numbers(5, 7)
print("Sum =", result)

Sum = 12

# **Error Hndling**

In [73]:
#49. Handle division by zero error using try-except

try:
    num1 = 10
    num2 = 0
    result = num1 / num2
    print(result)
except ZeroDivisionError:
    print("Error: Cannot divide by zero")

Error: Cannot divide by zero

In [72]:
#50. Handle invalid input when converting string to integer

try:
    num = int(input("Enter a number: "))
    print("You entered:", num)
except ValueError:
    print("Error: Invalid number")

Enter a number: 67
You entered: 67